@font-face {
  font-family: "DJBMessyAmandaGoesBold";
  src: url("../fonts/DJBMessyAmandaGoesBold.eot?#iefix") format("embedded-opentype"), url("../fonts/DJBMessyAmandaGoesBold.woff") format("woff"), url("../fonts/DJBMessyAmandaGoesBold.ttf") format("truetype"), url("../fonts/DJBMessyAmandaGoesBold.svg#DJBMessyAmandaGoesBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bariol-Regular";
  src: url("../fonts/Bariol-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Bariol-Regular.otf") format("opentype"), url("../fonts/Bariol-Regular.woff") format("woff"), url("../fonts/Bariol-Regular.ttf") format("truetype"), url("../fonts/Bariol-Regular.svg#Bariol-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GrandHotel-Regular";
  src: url("../fonts/GrandHotel-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GrandHotel-Regular.otf") format("opentype"), url("../fonts/GrandHotel-Regular.woff") format("woff"), url("../fonts/GrandHotel-Regular.ttf") format("truetype"), url("../fonts/GrandHotel-Regular.svg#GrandHotel-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ScotiabankModern-Bold";
  src: url("../fonts/ScotiabankModern-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ScotiabankModern-Bold.otf") format("opentype"), url("../fonts/ScotiabankModern-Bold.woff") format("woff"), url("../fonts/ScotiabankModern-Bold.ttf") format("truetype"), url("../fonts/ScotiabankModern-Bold.svg#ScotiabankModern-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ScotiabankModern";
  src: url("../fonts/ScotiabankModern.eot?#iefix") format("embedded-opentype"), url("../fonts/ScotiabankModern.otf") format("opentype"), url("../fonts/ScotiabankModern.woff") format("woff"), url("../fonts/ScotiabankModern.ttf") format("truetype"), url("../fonts/ScotiabankModern.svg#ScotiabankModern") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "ScotiabankModern-Bold";
  color: #434040;
  font-size: 1.6rem;
}

@media all and (min-width: 1px) {
  .loading {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 0;
    z-index: -1;
  }
  .loading .mensaje_loading {
    background-color: #ffffff;
    opacity: 0;
    position: relative;
    z-index: 2;
  }

  .loading::before {
    font-size: 1.6rem;
    color: #00afa9;
    content: "Please wait";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    height: 15px;
    width: 100%;
    opacity: 1;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: -1;
  }

  .checkmark__circle,
  .checkmark__circle_err,
  .checkmark__circle_warning {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    animation-iteration-count: 1;
  }

  .checkmark__circle_err {
    stroke: #E51A1A;
  }

  .checkmark__circle_warning {
    stroke: #FFD41F;
  }

  .checkmark,
  .checkmark_err,
  .checkmark_warning {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #ffffff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
    animation-iteration-count: 1;
  }

  .checkmark_err {
    animation: fill_err 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
    box-shadow: inset 0px 0px 0px #E51A1A;
  }

  .checkmark_warning {
    animation: fill_war 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
    box-shadow: inset 0px 0px 0px #FFD41F;
    fill: #ffffff;
  }

  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    animation-iteration-count: 1;
  }

  .hide_movile {
    display: none;
  }

  .hide_escritorio {
    display: block;
  }

  .slick-dots {
    bottom: 3vh;
  }
  .slick-dots li {
    width: 5vw;
    height: 5vw;
    background-color: #2E2E2E;
    border-radius: 50%;
  }
  .slick-dots li button {
    opacity: 0;
  }
  .slick-dots .slick-active {
    background-color: #91c100;
  }

  .img_fondo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .fondo_blanco {
    background-color: #ffffff;
    position: relative;
    z-index: 2;
  }

  nav {
    width: 90%;
    height: 17vh;
    min-height: 130px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 5vh auto 0;
    z-index: 10;
    display: block;
  }
  nav section {
    width: 100%;
    display: block;
    text-align: center;
  }
  nav .logo {
    width: 15%;
    display: block;
    margin: auto;
  }
  nav .logo img {
    width: 100%;
    height: auto;
  }
  nav .menu {
    width: 100%;
    padding: 0 0 4vw;
  }
  nav .menu li {
    display: inline-block;
    vertical-align: middle;
  }
  nav .menu li a {
    font-size: 1.8rem;
    color: #434040;
    font-weight: 700;
    padding: 0 1vw;
  }
  nav .menu li a:hover {
    color: #91c100;
  }
  nav aside {
    border-left: 0px solid #91c100;
    width: 100%;
  }
  nav aside a {
    margin: 0 0.9vw;
    display: block;
  }
  nav aside a svg {
    height: 4vh;
    width: auto;
    transition: all ease-in-out 0.3s;
  }
  nav aside a svg .rss_header {
    fill: #91c100;
    transition: all ease-in-out 0.3s;
  }
  nav aside a svg .color_blanco {
    fill: #ffffff;
    transition: all ease-in-out 0.3s;
  }
  nav aside a:hover svg {
    transition: all ease-in-out 0.3s;
  }
  nav aside a:hover svg .rss_header {
    fill: #B8D841;
    transition: all ease-in-out 0.3s;
  }
  nav aside .suscribete svg {
    height: 5.5vh;
  }

  .slider_home {
    position: relative;
    z-index: 1;
  }
  .slider_home .img_fondo {
    width: 100%;
    height: 100vh;
    background-size: auto 100%;
  }
  .slider_home .img_fondo h3 {
    font-family: "DJBMessyAmandaGoesBold";
    font-size: 5rem;
    width: 80%;
    text-align: center;
    line-height: 1;
    margin-top: 40vw;
  }

  .team {
    background-color: #ffffff;
    z-index: 2;
    position: relative;
    padding: 5vh 0;
  }
  .team a {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .team a img {
    width: 100%;
    position: relative;
    z-index: 3;
  }
  .team a::before,
  .team a::after {
    content: "";
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all ease-in-out 0.4s;
  }
  .team a::before {
    background-image: url(../images/back_team_responsive.svg);
    z-index: 1;
  }
  .team a:hover::after {
    transition: all ease-in-out 0.4s;
    opacity: 1;
  }

  h2 {
    font-size: 3rem;
  }

  .servicios {
    width: 80%;
  }
  .servicios article {
    width: 100%;
    margin: 5vw 0;
  }
  .servicios article .img_fondo {
    height: 20vh;
    position: relative;
    background-size: auto 100%;
  }
  .servicios article .img_fondo::before {
    background-color: #B8D841;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1vw;
    height: 100%;
    z-index: 3;
  }
  .servicios article h3 {
    text-align: center;
    color: #B8D841;
    font-size: 3rem;
  }
  .servicios article p {
    letter-spacing: 0.5px;
    text-align: justify;
    margin: 2vh 0;
    line-height: 1.2;
    font-family: "ScotiabankModern";
    font-size: 1.5rem;
  }

  .brindamos {
    padding: 5vh 0;
  }
  .brindamos article {
    background-image: url(../images/brindamos_responsive.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 0 5vw 10vw;
    width: 100%;
    margin: 5vw 0;
    position: relative;
  }
  .brindamos article h3 {
    color: #B8D841;
    text-align: center;
    font-size: 3.5rem;
  }
  .brindamos article .textwidget {
    width: 70%;
  }
  .brindamos article ul {
    list-style: disc;
    margin-left: 3vw;
    width: 100%;
  }
  .brindamos article ul li {
    color: #ffffff;
    font-family: "Bariol-Regular";
    padding: 0.2vw 0;
    font-size: 1.6rem;
    font-weight: 100;
  }

  .title_blog h3 {
    font-family: "DJBMessyAmandaGoesBold";
    font-size: 10rem;
    position: absolute;
    width: 120%;
  }

  .blog .textwidget {
    width: 80%;
  }
  .blog h3 {
    font-size: 2.5rem;
    margin: 0;
    width: 100%;
    text-align: center;
    color: #91c100;
  }
  .blog section {
    width: 80%;
  }
  .blog section a {
    background-color: #ffffff;
    width: 100%;
    margin: 5vw 0;
    color: #2E2E2E;
    position: relative;
    box-shadow: inset 0 0 1px 1px #CECCCC;
  }
  .blog section a .img_fondo {
    height: 20vh;
  }
  .blog section a h4,
  .blog section a .contenido {
    display: block;
    margin: 2vw auto;
  }
  .blog section a h4 {
    font-size: 2.5rem;
    min-height: 50px;
    text-align: center;
  }
  .blog section a .contenido {
    text-align: justify;
    font-size: 1.6rem;
    margin-bottom: 10vh;
    font-family: "ScotiabankModern";
  }
  .blog section a .fecha {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 1.2rem;
  }
  .blog section a:hover {
    background-color: #91c100;
  }

  .portadas_blog {
    height: 70vh;
  }

  .conoce_ponteFlaca {
    margin-top: 1vw;
  }
  .conoce_ponteFlaca div {
    width: 50%;
  }
  .conoce_ponteFlaca .textwidget {
    width: 100%;
  }
  .conoce_ponteFlaca h2 {
    color: #434040;
    font-size: 5rem;
    text-align: center;
    font-family: "DJBMessyAmandaGoesBold";
    margin-top: 57vw;
  }
  .conoce_ponteFlaca h3 {
    font-size: 6rem;
    margin-bottom: 1vh;
    margin: 0;
    text-align: center;
    color: #91c100;
    font-family: "DJBMessyAmandaGoesBold";
  }
  .conoce_ponteFlaca h4 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 30vw;
  }
  .conoce_ponteFlaca p {
    font-family: "ScotiabankModern";
    font-size: 1.5rem;
    text-align: justify;
    width: 90%;
  }
  .conoce_ponteFlaca img {
    width: 100%;
  }
  .conoce_ponteFlaca .perfil_team {
    width: 70vw;
    height: 70vw;
    overflow: hidden;
    border-radius: 50%;
  }
  .conoce_ponteFlaca article {
    margin: 8vh 0;
  }
  .conoce_ponteFlaca article h3 {
    font-size: 3rem;
  }
  .conoce_ponteFlaca .conoce_ponteFlaca:last-child {
    margin-bottom: 0;
  }

  .blog_habitos h2 {
    font-family: "DJBMessyAmandaGoesBold";
    text-align: center;
    color: #91c100;
    line-height: 1;
    font-size: 4rem;
  }
  .blog_habitos p {
    font-family: "ScotiabankModern";
    font-size: 1.6rem;
    text-align: justify;
    width: 100%;
    margin-top: 5vh;
  }
  .blog_habitos img {
    width: 100%;
  }
  .blog_habitos a {
    color: #ffffff;
    border: 2px solid;
    background-color: #006A5B;
    padding: 2vh 6vh 2vh 6vh;
    border-radius: 2vh;
    font-size: 1.6rem;
    margin: 5vh 0 5vh;
  }

  .habitos {
    margin-top: 35vh;
  }
  .habitos article {
    margin-top: 5vw;
    width: 80%;
  }
  .habitos h2 {
    font-family: "DJBMessyAmandaGoesBold";
    text-align: center;
    color: #91c100;
    width: 46%;
    line-height: 1;
  }
  .habitos div {
    margin-top: 10vh;
  }
  .habitos p {
    font-family: "ScotiabankModern";
    font-size: 1.4rem;
    margin-bottom: 4vh;
    text-align: justify;
  }
  .habitos strong {
    color: #91c100;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .habitos h3 {
    font-size: 1.5rem;
    width: 100%;
  }
  .habitos a {
    color: #ffffff;
    border: 2px solid;
    background-color: #006A5B;
    padding: 2vh 6vh 2vh 6vh;
    border-radius: 2vh;
    font-size: 1.5rem;
    margin-bottom: 3vh;
  }
  .habitos a:hover {
    background-color: #91c100;
  }

  section {
    width: 80%;
  }

  .instagram {
    background-color: #ffffff;
  }
  .instagram .logo_instagram {
    width: 20%;
    margin: 2vw 0 5vh;
  }
  .instagram h3 {
    font-size: 2rem;
    margin-top: -3vh;
  }

  #instafeed {
    width: 80%;
    margin-bottom: 5vh;
  }
  #instafeed .foto_insta {
    width: 48%;
  }
  #instafeed .foto_insta a {
    margin: 1vh 0;
  }

  .formulario {
    background-color: #91c100;
    position: relative;
    z-index: 52;
  }
  .formulario h2 {
    font-size: 3rem;
  }
  .formulario section {
    width: 80%;
  }
  .formulario section article {
    width: 100%;
  }
  .formulario section article h3 {
    color: #ffffff;
    font-size: 2.4rem;
  }
  .formulario section article h4 {
    font-size: 2rem;
    color: #ffffff;
  }
  .formulario section article p {
    margin: 1vw 0;
    font-weight: 700;
    font-size: 1.4rem;
  }
  .formulario section article p a {
    color: #434040;
  }
  .formulario section article aside a {
    margin-right: 1.5vw;
    display: block;
  }
  .formulario section article aside a svg {
    height: 7vh;
  }
  .formulario section article aside a svg .rss_footer {
    fill: #ffffff;
    transition: all ease-in-out 0.4s;
  }
  .formulario section article aside a:hover svg .rss_footer {
    fill: #C6D147;
    transition: all ease-in-out 0.4s;
  }
  .formulario section form {
    width: 100%;
    margin-top: 5vw;
  }
  .formulario section form input,
  .formulario section form textarea {
    border-radius: 1vw;
    padding: 2vw;
    margin-bottom: 2vh;
    font-family: "ScotiabankModern-Bold";
    font-weight: 700;
    margin-top: 1vh;
    font-size: 1.8rem;
  }
  .formulario section form textarea {
    height: 8vw;
  }
  .formulario section form input[type="submit"] {
    width: 50%;
    color: #ffffff;
    background-color: #006A5B;
    border: none;
    font-size: 2rem;
    margin: 1vh 0 5vh;
    cursor: pointer;
    font-weight: 700;
  }
  .formulario section form input[type="submit"]:hover {
    background-color: #C6D147;
  }

  .logo_footer {
    background-color: #ffffff;
    padding: 5vh 0;
    width: 80%;
    position: relative;
    z-index: 52;
  }
  .logo_footer img {
    width: 80%;
  }
  .logo_footer .suscribete_footer a svg {
    width: 60%;
  }
  .logo_footer .suscribete_footer a svg .rss_header {
    fill: #91c100;
    transition: all ease-in-out 0.3s;
  }
  .logo_footer .suscribete_footer a svg .color_blanco {
    fill: #ffffff;
    transition: all ease-in-out 0.3s;
  }
  .logo_footer .suscribete_footer a:hover svg .rss_header {
    fill: #B8D841;
    transition: all ease-in-out 0.3s;
  }

  .derechos {
    background-color: #2E2E2E;
    padding: 6vh 2%;
    width: 96%;
    color: #ffffff;
    font-size: 1.4rem;
    font-family: "ScotiabankModern";
    display: block;
    text-align: center;
    position: relative;
    z-index: 52;
  }
  .derechos img {
    width: 10%;
    display: block;
    margin: 0 auto 4vw;
  }

  .whatsapp {
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    z-index: 99;
    width: 3vw;
  }
  .whatsapp img {
    width: 100%;
    height: auto;
  }

  .up svg {
    height: 20px;
  }
}
@media all and (min-width: 760px) {
  nav .menu li a {
    font-size: 2.5rem;
  }

  .logo_footer {
    width: 50%;
  }
}
@media all and (min-width: 1024px) {
  .hide_movile {
    display: block;
  }

  .hide_escritorio {
    display: none;
  }

  .slick-dots li {
    width: 1.3vw;
    height: 1.3vw;
  }

  nav {
    margin-top: 1vw;
  }
  nav section {
    width: initial;
  }
  nav .logo {
    margin: 0;
  }
  nav aside {
    width: initial;
    border-left-width: 1px;
  }
  nav aside a {
    margin: 0 0.8vw;
  }
  nav aside .suscribete svg {
    height: 5vh;
  }
  nav .menu {
    width: initial;
    padding: 0;
  }
  nav .menu li a {
    font-size: 2rem;
  }

  .slider_home .img_fondo {
    background-size: 100%;
  }
  .slider_home .img_fondo h3 {
    font-size: 8.4rem;
    width: 31%;
    margin-top: 0;
  }

  .team a {
    width: 55%;
    overflow: inherit;
  }
  .team a img {
    width: 90%;
  }
  .team a::before,
  .team a::after {
    content: "";
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 140%;
    height: 70vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20%;
    right: 0;
    margin: auto;
    transition: all ease-in-out 0.4s;
  }
  .team a::before {
    background-image: url(../images/back-team.svg);
  }
  .team a::after {
    background-image: url(../images/back-team_hover.svg);
    opacity: 0;
    z-index: 2;
  }

  h2 {
    font-size: 4.7rem;
  }

  .servicios {
    width: 70%;
  }
  .servicios article {
    width: 46%;
    margin: 0;
  }
  .servicios article .img_fondo {
    height: 35vh;
  }

  .conoce_ponteFlaca h2 {
    margin-top: 13vw;
    font-size: 8.4rem;
    line-height: 1;
    margin-bottom: 2vw;
    width: 80%;
  }
  .conoce_ponteFlaca h3 {
    font-size: 10rem;
  }
  .conoce_ponteFlaca h4 {
    font-size: 3rem;
    margin-bottom: 7vw;
  }
  .conoce_ponteFlaca img {
    width: auto;
    height: 100%;
  }
  .conoce_ponteFlaca .perfil_team {
    width: 20vw;
    height: 20vw;
  }
  .conoce_ponteFlaca p {
    font-size: 1.5rem;
  }
  .conoce_ponteFlaca article {
    width: 60%;
    margin: 3vw 0;
  }
  .conoce_ponteFlaca article h3 {
    font-size: 8rem;
  }

  .brindamos article {
    background-image: url(../images/brindamos.svg);
    width: 55%;
    background-size: 100% 100%;
    padding-bottom: 5vw;
  }
  .brindamos article h3 {
    font-size: 4.7rem;
  }
  .brindamos article ul {
    width: 100%;
  }
  .brindamos article ul li {
    font-size: 2.2rem;
  }
  .brindamos article::before,
  .brindamos article::after {
    content: "";
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 60%;
    position: absolute;
    bottom: -10%;
    width: 30%;
    height: 100%;
  }
  .brindamos article::before {
    background-image: url(../images/brindamos-left.svg);
    left: -25%;
  }
  .brindamos article::after {
    background-image: url(../images/brindamos-right.svg);
    right: -25%;
  }

  .portada_blog {
    max-width: 100%;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 2;
  }

  .title_blog h3 {
    font-size: 21rem;
  }

  .blog h3 {
    margin-top: -2vh;
    margin-bottom: 7vh;
    font-size: 3rem;
  }
  .blog section {
    width: 70%;
  }
  .blog section a {
    width: 46%;
    margin: 0 0 10vh;
  }
  .blog section a .img_fondo {
    height: 30vh;
  }
  .blog section a h4 {
    display: flex;
    font-size: 3rem;
  }
  .blog section a .contenido {
    font-size: 1.5rem;
  }

  .habitos {
    margin-top: 20vh;
  }
  .habitos article {
    margin-top: 3vw;
    width: 60%;
  }
  .habitos p {
    font-size: 1.5rem;
    margin-bottom: 1vw;
    width: 100%;
  }
  .habitos strong {
    font-size: 1.5rem;
  }
  .habitos h2 {
    font-size: 8rem;
  }

  .portadas_blog {
    width: 80%;
  }

  .blog_habitos h2 {
    font-size: 8rem;
    width: 65%;
  }
  .blog_habitos p {
    font-size: 1.5rem;
    width: 60%;
    margin-top: 5vh;
  }
  .blog_habitos a {
    font-size: 2rem;
    margin: 3vw 0 2vw;
    font-size: 1.5rem;
  }
  .blog_habitos img {
    width: 60%;
  }
  .blog_habitos a:hover {
    background-color: #91c100;
  }

  .instagram .logo_instagram {
    width: 7%;
  }
  .instagram h3 {
    font-size: 3rem;
  }

  #instafeed {
    width: 55%;
  }
  #instafeed .foto_insta {
    width: 32%;
  }

  .formulario h2 {
    font-size: 4.7rem;
  }
  .formulario section article,
  .formulario section form {
    width: 48%;
  }
  .formulario section article input,
  .formulario section form input {
    padding: 1vw 1.5vw;
  }
  .formulario section article input[type=submit],
  .formulario section form input[type=submit] {
    width: 35%;
  }
  .formulario section article label,
  .formulario section form label {
    font-size: 2.2rem;
  }
  .formulario section article p {
    font-size: 2.3rem;
    width: 93%;
  }
  .formulario section form {
    margin-top: 0;
  }

  .logo_footer {
    width: 100%;
  }
  .logo_footer img {
    width: 18%;
  }
  .logo_footer .suscribete_footer a svg {
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 11%;
  }

  .derechos {
    display: flex;
    padding: 3vh 2%;
  }
  .derechos img {
    width: 3%;
    display: initial;
    margin: 0;
  }

  .whatsapp:hover {
    transform: scale(1.1);
  }

  .up svg {
    height: 2.5vw;
  }
}
@media all and (min-width: 1280px) {
  html {
    font-size: 58%;
  }
}
@media all and (min-width: 1400px) {
  html {
    font-size: 65%;
  }
}
@media all and (min-width: 1919px) {
  html {
    font-size: 89%;
  }
}
@media all and (min-width: 2559px) {
  html {
    font-size: 118%;
  }
}
@media all and (min-width: 5120px) {
  html {
    font-size: 237%;
  }
}
@media all and (min-width: 7680px) {
  html {
    font-size: 356%;
  }
}
@media all and (min-width: 8192px) {
  html {
    font-size: 380%;
  }
}
